div#menu{
    position:absolute;
    top:1px;
    left:1px;
    min-width:961px;
}
div#menu ul{
    display:block;
    float:left;
    margin:0px;
    padding:0px;
}
div#menu ul li{
    display:inline;
}
div#content{
    width:960px;
    padding-top:51px;
}
div#container{
    width:960px;
    margin:0px auto;
    position:relative;
}
table{
    border-collapse:collapse;
}
th, td{
    border:1px solid black;
}
#paper {
    width:1000px;
}
#paper table{
    width:450px;
    margin-right:10px;
    float:left;
}
#paper .clear{
    clear:both;
}
ul#cartMenu{
    display:block;
}
ul#cartMenu li{
    display:inline;
}
div#contents > div{
    display:none
}
div#contents > div.active{
    display:block;
}
#cartTable {
    position:absolute;
    right:0px;
    top:0px;
}
